* {
  box-sizing: border-box;
}

#canva {
    display: flex;
    flex-wrap: wrap;
    width: calc(20px * 16 + 1px);
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
}

.square {
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

.black {
    background-color: #000000;
}